<!DOCTYPE html>
<html>
    <head>
        <title>Parameters</title>
    </head>
    <body>
        <p>These instructions are not fully compelted yet, and may change as more coins are added to the game. Use these rules for answering</p>
        <h3>Territories and unrecognized countries issue enough coins to have their own answer:
            <ul>
                <li>Macau</li>
                <li>Abkhazia</li>
                <li>Transnistria</li>
                <li>Kosovo</li>
                <li>Somaliland</li>
            </ul>
        </h3>
        <h3> For the following countries, answer with the issuing currency union</h3>
        <ul> 
            <p>For the Eastern Carribean Dollar</p>
            <li>East Caribbean States
                <ul>
                    <li>Antigua and Barbuda</li>
                    <li>Dominica</li>
                    <li>Grenada</li>
                    <li>Saint Kitts and Nevis</li>
                    <li>Saint Lucia</li>
                    <li>Saint Vincent and the Grenadines</li>
                </ul>
            </li>
            <p>For the West African CFA Franc:</p>
            <li>West African States
                <ul>
                    <li>Benin</li>
                    <li>Burkina Faso</li>
                    <li>Côte d'Ivoire</li>
                    <li>Guinea-Bissau</li>
                    <li>Mali</li>
                    <li>Niger</li>
                    <li>Senegal</li>
                    <li>Togo</li>
                </ul>
            <p>For the Central African CFA Franc:</p>
            <li>Central African States
                <ul>
                    <li>Cameroon</li>
                    <li>Central African Republic</li>
                    <li>Chad</li>
                    <li>Equatorial Guinea</li>
                    <li>Gabon</li>
                    <li>Republic of the Congo</li>
                </ul>
            </li>

        </ul>
        <p> For british territories of: Cayman Islands, Gurnsey, Isle of Man, Jersey, Guernsey, etc. just enter United Kingdom</p>
    </body>
</html>
